<h1>Pages#home</h1>
<%= link_to "Authors", authors_path %> <strong>|</strong>
<%= link_to "Books", books_path %> <strong>|</strong>
<%= link_to "Suppliers", suppliers_url %> <strong>|</strong>
<%= link_to "Accounts", accounts_url %> <strong>|</strong>
<%= link_to "Suppliers", suppliers_url %> <strong>|</strong>
<%= link_to "Parts", parts_url %>
